*{
    margin: 0;
    padding: 0;
}


.container{
    background: black;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-central{
    background:white;
    display: flex;
    flex-wrap: wrap;
    width:300px;     
    height:300px;
}

.item1{
    background:red;
    display: flex;
    width:150px;
    height:150px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.item2{
    background:yellow;
    display: flex;
    width:150px;
    height:150px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.item3{
    background:green;
    display: flex;
    width:150px;
    height:150px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.item4{
    background:blue;
    display: flex;
    width:150px;
    height:150px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}